.h1 {
    font-family: "Lucida Console", "Courier New", monospace;
    color: darkblue;
    text-shadow: 2px 2px 2px blueviolet
}

.p1 {
    font-family: Arial, Helvetica, sans-serif;
}

.p2 {
    font-family:'Times New Roman', Times, serif;
}

.p3 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.ps {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.back {
    background-color:rgb(178, 165, 189);
    opacity: 0.9;
}