table, th, td {
    border: transparent black;
    width: "100%";
    margin: 1em;
    padding: 7;
}

table {
    font-family: "Lucida Console", "Courier New", monospace;
    background-color: darkgrey;
    text-shadow: 1px 1px 2px peru;
    box-shadow: 6px 8px 4px #8f8f8f;

}

th {
    background-color: antiquewhite;
}

td {
    background-color: azure;
    text-shadow: none;
}